 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 50%;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    /*background: #000;*/
    background : #3C454F;
    color : #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -150px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 50px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 200px;
    }

    #sidebar-wrapper {
        width: 45px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 200px;
    }

    #page-content-wrapper {
        padding: 65px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
#locationBtn {
    background-image: url('../Images/Building.svg');
    background-repeat: no-repeat;
}

#containerBtn {
    background-image: url('../Images/Container.svg');
    background-repeat: no-repeat;
} 
#boxBtn {
    background-image: url('../Images/Box.svg');
    background-repeat: no-repeat;
}
#rackBtn {
    background-image: url('../Images/Rack.svg');
    background-repeat: no-repeat;
}
#storesampBtn {
    background-image: url('../Images/tube.svg');
    background-repeat: no-repeat;
}
#packboxBtn {
    background-image: url('../Images/PackBox.svg');
    background-repeat: no-repeat;
}
#unpackboxBtn {
    background-image: url('../Images/UnpackBox.svg');
    background-repeat: no-repeat;
}
#usersBtn {
    background-image: url('../Images/users.svg');
    background-repeat: no-repeat;
}
#missingBtn {
    background-image: url('../Images/Questionmark.svg');
    background-repeat: no-repeat;
}
#findSampleBtn {
    background-image: url('../Images/search.svg');
    background-repeat: no-repeat;
}
