<html>
<head>
  <title>Tube Tracker</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/Content/bootstrap-grid.css" rel="stylesheet" type="text/css" />
  <link href="/Content/ng2-toastr.css" rel="stylesheet" />
  <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
  <link href="/Content/sidebar.css" rel="stylesheet" />
  <link href="/Content/drag-style.css" rel="stylesheet" />
  <link href="/Content/vertical-timeline.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="/Content/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default nav-justified" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand logo">Tube Tracker</span>
                </div>
                <div class="navbar-collapse collapse">
                    <!--<ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                    </ul>-->
                    <ul class="nav navbar-nav navbar-right">
                        <li>Hello</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        <form class="form-signin" role="form" method="post" action="/account/change">
            <fieldset>
                <input type="hidden" name="Username" value="{{model.Username}}"/>
                <!--<input class="form-control" placeholder="Old Password" type="password" name="OldPassword" />-->
                <input class="form-control" placeholder="New Password" type="password" name="Password" pattern="(.){6,20}" />
                <input class="form-control" placeholder="Confirm" type="password" name="ConfirmPassword" pattern="(.){6,20}" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
            </fieldset>
        </form>
    </div>
    <div class="footer container-fluid">© TDL 2017</div>
</body>
</html>
