<html>
<head>
  <title>Tube Tracker</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/Content/bootstrap-grid.css" rel="stylesheet" type="text/css" />
  <link href="/Content/ng2-toastr.css" rel="stylesheet" />
  <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
  <link href="/Content/sidebar.css" rel="stylesheet" />
  <link href="/Content/drag-style.css" rel="stylesheet" />
  <link href="/Content/vertical-timeline.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="/Content/jquery.min.js"></script>
</head>
<body data-ng-app="trackr">
    <div class="container">
        <div class="navbar navbar-default nav-justified" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand logo">Tube Tracker</span>
                </div>
                <div class="navbar-collapse collapse" id="navBarCollapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% include "partial_nav.html" %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        <form class="form-signin" role="form" method="post" action="/account/register">
            <fieldset>
                <h2 class="form-signin-heading">{{ model.Message }}</h2>
                <input class="form-control" placeholder="Email" type="email" name="Email" id="Email" />
                <input class="form-control" placeholder="Displayname" type="text" name="DisplayName" />
                <input class="form-control" placeholder="Shortname" type="text" name="ShortName" />
                <label class="checkbox-inline">Admin<input type="checkbox" name="isAdmin"></label>
                <input class="form-control" placeholder="Password" type="password" name="Password" pattern="(\w){6,20}" />
                <input type='hidden' value='0' name='isAdmin'>
                <input class="form-control" placeholder="Confirm" type="password" name="ConfirmPassword" pattern="(\w){6,20}" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </fieldset>
        </form>
    </div>
    <div class="footer container-fluid">© TDL 2017</div>
    <script type="text/javascript">
        var email = document.getElementById('Email');
        email.focus();
    </script>
</body>
</html>
